<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/Style.css')}}">
</head>
<body>
	<center>
		<h2>PJ</h2>
	</center>

	<ul>
		<li>{{profileData['userName']}}</li>
		<li>{{profileData['userID']}}</li>
		<li>{{profileData['userEmail']}}</li>
		<li>Follwers : 0</li>
		<li>Following: 0</li>
		<li>Blog Score: 0</li>
	</ul>

	<br><br>

	<form method="POST" action="/b-blog">
		<input type="text" name="blogTitle" placeholder="TITLE">
		<br>
		<textarea name="blog"></textarea>
		<br>
		<button type="sumbit">Submit</button>
	</form>

	<br><br>

	<center>
		<form method="POST" action="/b-logout">
			<button type="sumbit">Logout</button>
		</form>
		<a href="/blogs">Blogs</a>
		<a href="/users">Users</a>
	</center>
</body>
</html>