<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='CSS/Style.css')}}">
</head>
<body>
	<center>
		<h2>PJ</h2>
		<br><br>

		<form method="GET" action="">
			<input type="text" name="userSearch" placeholder="User ID">
			<button type="sumbit">Search</button>
		</form>
		<br><br>

		{%for user in users%}
		<img src="{{dpLocation}}/{{user['userDP']}}">
		<br>
		<a href="/users/{{user['userID']}}">{{user['userID']}}</a>

		{% if user['Following'] == 0 %}
		<form method="POST" action="/b-follow/{{user['userID']}}">
			<button type="sumbit">Follow</button>
		</form>

		{% else %}
		<br>
		<button disabled>Following</button>
		{% endif %}
		
		<br><br>
		{%endfor%}

		<a href="/profile">Profile</a>
		<a href="/blogs">Blogs</a>
	</center>
</body>
</html>